.my-tabs
    .my-tabs-nav
        button(data-tab-name="tab-11") first
        button(data-tab-name="tab-22") second
        button(data-tab-name="tab-33") third
    .my-tabs-container
        .tab-1(data-tab-name="tab-11")
            .tab-item_content Content 1
        .tab-2(data-tab-name="tab-22")
            .tab-item_content Content 2
        .tab-3(data-tab-name="tab-33")
            .tab-item_content Content 3
